<% include partials/header %>

	<div class="ui masthead text segment">
		<div class="content">
			<h1 class="ui inverted header">
				About Me
			</h1>
			<h3>Check out my accomplishments and skills.</h3>
		</div>
	</div>

	<div class="ui vertical stripe segment">
		<div class="ui container stackable grid">
			<div class="three wide column">
				<h3 class="ui header">
					Education
				</h3>
			</div>
			<div class="thirteen wide column">
				<p>
					University of California, Los Angeles
					<br>
					Bachelor's of Science in Microbiology, Immunology, and Molecular Genetics
				</p>
			</div>
		</div>
	</div>

<% include partials/footer %>