<% include partials/header %>

	<div id="masthead-2" class="ui masthead text segment">
		<div class="content">
			<h1 class="ui inverted header">
				About Me
			</h1>
			<h3>Check out my accomplishments and skills.</h3>
		</div>
	</div>

	<div class="ui basic segment">
		<div class="ui container stackable grid">
			<div class="sixteen wide column" id="progress-bars">	
				<span id="udemy">
					<img src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" height="50px"/>	
					<h3 class="ui header">Coursework</h3>		
				</span>
				<h4>(Last Updated 05/26/19)</h4>
				<div class="ui blue small progress" data-value="100" data-total="100">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label">Photoshop CC 2018 MasterClass (Completed)</div>	
				</div>
				<div class="ui orange small progress" data-value="100" data-total="100">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label">Illustrator CC 2018 MasterClass (Completed)</div>	
				</div>
				<div class="ui pink small progress" data-value="70" data-total="100">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label">InDesign CC 2018 MasterClass</div>	
				</div>
				<div class="ui teal small progress" data-value="100" data-total="100">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label">The Web Developer Bootcamp (Completed)</div>
				</div>
				<div class="ui red small progress" data-value="72" data-total="100">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label">The Advanced Web Developer Bootcamp</div>	
				</div>
				<div class="ui orange small progress" data-value="100" data-total="100">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label">The Complete Sketch 5 Course 2018 (Completed)</div>	
				</div>
				<div class="ui orange small progress" data-value="100" data-total="100">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label">Advanced CSS and Sass: Flexbox, Grid, Animations, and More! (Completed)</div>	
				</div>	
				<div class="ui orange small progress" data-value="65" data-total="100">
					<div class="bar">
						<div class="progress"></div>
					</div>
					<div class="label">Learn Photoshop, Web design, and Profitable Freelancing</div>	
				</div>									
			</div>
			<div class="three wide column">
				<h3 class="ui header">
					Skills
				</h3>
			</div>
			<div class="thirteen wide column">
				<div class="ui grid">
					<div class="eight wide column skills-one">
						<h3 class="ui header">
							Comfortable
						</h3>
					</div>
					<div class="eight wide column skills-two">
						<h3 class="ui header">
							In Progress
						</h3>
					</div>
				</div>
			</div>
			<div class="three wide column">
				<h3 class="ui header">
					Education
				</h3>
			</div>
			<div id="education" class="thirteen wide column"></div>
			<div class="three wide column">
				<h3 class="ui header">
					Work Experience
				</h3>
			</div>
			<div id="work-experience" class="thirteen wide column"></div>
		</div>
	</div>

<% include partials/footer %>