<% include partials/header %>

	<div id="masthead-4" class="ui masthead text segment">
		<div class="content">
			<h1 class="ui inverted header">
				Contact Me
			</h1>
			<h3>Let's start working together.</h3>
		</div>
	</div>

	<div class="ui basic segment">
		<div class="ui container">
			<div class="ui grid">
				<div class="column center aligned">
					<% if(message.length > 0) { %>
						<div class="ui green message" role="alert">
							<%= message %>
						</div>
					<% } %>
					<h1 class="ui subheader">
						Feel free to reach out to me through social media!
					</h3>
					<a href="https://www.linkedin.com/in/huynhjustin">
						<button class="ui small linkedin button">
							<i class="linkedin icon"></i>
	  						LinkedIn
						</button>					
					</a>
					<a href="https://github.com/Jalexhuynh">
						<button class="ui small github button">
							<i class="github icon"></i>
	  						Github
						</button>						
					</a>
					<a href="https://www.instagram.com/jh.psd">
						<button class="ui small instagram button">
							<i class="instagram icon"></i>
	  						Instagram
						</button>				
					</a>
				</div>				
			</div>

			<div class="ui basic segment">
				<h1 class="ui grey header">Or send me an email below:</h3>
			</div>

			<form class="ui form" action="/contact" method="post">
				<div class="field">
					<div class="two fields">
						<div class="field">
							<label>First Name</label>
							<input type="text" name="firstName" placeholder="First Name">
						</div>
						<div class="field">
							<label>Last Name</label>
							<input type="text" name="lastName" placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="field">
					<label>Email Address</label>
					<input type="email" name="email" placeholder="Email">
				</div>
				<div class="field">
					<label>Subject</label>
					<input type="text" name="subject" placeholder="Subject">
				</div>
				<div class="field">
					<label>Message</label>
					<textarea rows="6" name="message"></textarea>				
				</div>
				<div class="ui primary submit button">Submit</div>
				<div class="ui error message"></div>
			</form>
		</div>	
	</div>

<% include partials/footer %>