<% include partials/header %>

	<div class="ui masthead text segment">
		<h1 class="ui inverted header">
			Contact Me
		</h1>
		<h2>Feel free to check out my porfolio!</h2>
	</div>

<% include partials/footer %>