<% include partials/header %>

	<div class="ui masthead text segment">
		<div class="content">
			<h1 class="ui inverted header">
				Contact Me
			</h1>
			<h3>Let's start working together.</h3>
		</div>
	</div>

	<div class="ui container">
		<form class="ui form">
			<div class="field">
				<div class="two fields">
					<div class="field">
						<label>First Name</label>
						<input type="text" name="first-name" placeholder="First Name">
					</div>
					<div class="field">
						<label>Last Name</label>
						<input type="text" name="last-name" placeholder="Last Name">
					</div>
				</div>
			</div>
			<div class="field">
				<label>Email Address</label>
				<input type="email" name="email" placeholder="Email">
			</div>
			<div class="field">
				<label>Subject</label>
				<input type="text" name="subject" placeholder="Subject">
			</div>
			<div class="field">
				<label>Message</label>
				<textarea rows="6" name="message"></textarea>				
			</div>
			<div class="ui primary submit button">Submit</div>
			<div class="ui error message"></div>
		</form>
	</div>

	<div class="ui segment"></div>


<% include partials/footer %>