<% include partials/header %>

<!-- BODY -->
	<div id="masthead-1" class="ui masthead text segment">
		<div class="content">
			<h1 class="ui inverted header">
			Welcome!
			</h1>
			<h3>This site was hand-coded using the SemanticUI framework. <br> Hope you enjoy it!</h3>
		</div>
	</div>

	<div class="ui basic segment">
		<div class="ui container stackable grid">
			<div class="ten wide column">
				<h3 class="ui header">
					Web Developer // Graphic Designer // In-Training
				</h3>
				<p>
					Hey there! My name is Justin Huynh. I am aspiring Front-end Web Developer based in Southern California. My studies began at the University of California, Los Angeles as a Biology major, but through working by trial and error (as most scientists do), I found myself much more interested in the digital field than in the laboratory. Combined with my casual hobby for graphic design and illustrations, I wanted to bring my love for experimentation and learning to the world of digital marketing.
				</p>
			</div>
			<div class="six wide column center aligned">
				<h3 class="ui header">
					Languages & Familiarities
				</h3>
				<p>
					There are never too many skills to have. Let's add more to this list!
				</p>
				<i class="huge html5 icon"></i>
				<i class="huge css3 icon"></i>
				<i class="huge js icon"></i>
				<i class="huge node js icon"></i>
				<i class="huge github icon"></i>
			</div>
		</div>
	</div>

	<div class="ui basic inverted blue segment">
		<div class="ui container stackable grid">
			<div class="nine wide right floated column">
				<p id="test" class="ui inverted header">
					I am actively looking for new opportunities to challenge myself with web development technologies, as well as to refine my graphic design skills. This site is recieving ongoing updates as I continue to put my programming knowledge to practice while also serving as a way for potential employers to view my work. I would love to get in touch to talk about future training opportunities!
				</p>
				<button id="contactbutton" class="ui large inverted white button">
					<a href="/contact"><i class="right angle icon"></i>Contact Me</a>
				</button>
			</div>			
		</div>

	</div>

<% include partials/footer %>