<% include partials/header %>

	<div class="ui masthead text segment">
		<h1 class="ui inverted header">
			Porfolio
		</h1>
		<h2>Feel free to check out my porfolio!</h2>
	</div>

	<div class="ui segment container">
		<div id="test" class="ui active progress teal" data-value="75" data-total="100">
			<div class="bar"></div>
			<div class="label">Adobe Photoshop</div>
		</div>
		<div id="test2" class="ui active progress blue" data-value="35" data-total="100">
			<div class="bar"></div>
			<div class="label">Graphic Design</div>
		</div>
		<div id="test3" class="ui active progress purple" data-value="55" data-total="100">
			<div class="bar"></div>
			<div class="label">Web Development</div>
		</div>
	</div>

<div class="ui grid container">
	<div class="two column row">
		<div class="column">
			<div class="ui segment">
				<img>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<img>
			</div>
		</div>
	</div>
	<div class="four column row">
		<div class="column">
			<div class="ui segment">
				<img>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<img>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<img>
			</div>
		</div>
		<div class="column">
			<div class="ui segment">
				<img>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>