<% include partials/header %>

	<div id="masthead-3" class="ui masthead text segment">
		<div class="content">
			<h1 class="ui inverted header">
				Portfolio
			</h1>
			<h3>Here are some samples of my work!</h3>
		</div>
	</div>

	<div class="ui basic segment">
		<div id="portfolio-images" class="ui grid stackable container">
			<div class="sixteen wide column">
				<h3 class="ui header">
					Graphic Design Methodology: Adobe Creative Suite
				</h3>
				<p>
					I am a self-taught graphic designer, with a focus in Adobe Creative Cloud products on either Windows or Mac platforms. My experience in the past has consisted of mainly event flyers for college organizations and business cards, but my current focus is developing samples for User Interfaces for both web and mobile applications.
				</p>
				<p>
					Although my work has been done mostly using Adobe Photoshop and Adobe Illustrator, I am currently in the process of becoming familiar with the use of Adobe XD and Sketch to generate UI Design samples.
				</p>
			</div>
			<h3 class="ui header">
					Comprehensive Sketch Project: Spendo
			</h3>
			<p>
				This project was done as the main focus for the Udemy Sketch Course, where students were guided through the process of creating a Brand Guide, Prototype Mobile App, Web Application Page, and an official landing page for a fictious company site. The course topics ranged across the usage of symbols, branding, icon creation, and color harmony to create a professional sample end product.
			</p>
			<div class="row">
				<div class="column">
					<img class="ui image" src="img/Spendo_Landing1.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Spendo_Landing2.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Spendo_Landing3.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Spendo_AppWireframe.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Spendo_WebApp.png">
				</div>
			</div>
			<div class="row">
				<div class="column">
					<img class="ui image" src="img/Spendo_BrandGuide.png">
				</div>
			</div>
			<h3 class="ui header">
				UI Personal Projects
			</h3>
			<p>
				These are some examples of my weekly design projects where I exercise my creativity in creating a variety of layouts to display my skills and understanding of User Interface design. These designs will be updated and added to periodically; feel free to come back and check again soon for more updates!
			</p>
			<div class="row">
				<div class="column">
					<img class="ui image" src="img/UI_Express.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/UI_HIV.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/UI_JustinHuynh.png">
				</div>
			</div>
			<h3 class="ui header">
				Print Design
			</h3>
			<p>
				Here are previous designs for both flyers and business cards that I have created, which were used for official events and personal use. Clients ranged from word-of-mouth referrals to school organizations.
			</p>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Mockup1.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Mockup2.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Mockup3.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Mockup4.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Mockup5.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Mockup6.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Mockup7.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Mockup8.png">
				</div>
			</div>
		</div>
	</div>

<% include partials/footer %>