<% include partials/header %>

	<div id="masthead-3" class="ui masthead text segment">
		<div class="content">
			<h1 class="ui inverted header">
				Portfolio
			</h1>
			<h3>Here are some samples of my work!</h3>
		</div>
	</div>

	<div class="ui basic segment">
		<div id="portfolio-images" class="ui grid stackable container">
			<div class="sixteen wide column">
				<h3 class="ui header">
					Graphic Design: Flyers
				</h3>
				<p>
					I am a self-taught graphic designer, with a focus in Adobe Creative Cloud products. I've created multiple flyers, business cards, awards using Adobe Photoshop and Adobe Illustrator.
				</p>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Mockup1.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Mockup2.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Mockup3.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Mockup4.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Mockup5.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Mockup6.png">
				</div>
			</div>
			<div class="two column row">
				<div class="column">
					<img class="ui image" src="img/Mockup7.png">
				</div>
				<div class="column">
					<img class="ui image" src="img/Mockup8.png">
				</div>
			</div>
		</div>
	</div>

<% include partials/footer %>