body, .ui.menu, .ui.header {
	border-radius: 0px;
	font-family: Open Sans;
}

h1.ui.inverted.header {
    padding-top: 6em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.ui.inverted.menu, .ui.black.button {
	background: #86A8E7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
}

#right-sidebar-toggle {
	position: fixed;
	width: 100%;
	border-radius: 0px;
	z-index: 1;
}

.masthead.segment {
	margin-top: 0px;
	padding-top: 36px;
	min-height: 700px;
	background-image: url(../img/jumbotron.jpg);
	background-attachment: fixed;
	background-size: cover;
	border-radius: 0px;
	border: none;
	text-align: right;
	color: white;
}

.content {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.3),
				 0px 4px 8px rgba(0,0,0,0.3);
}

.ui.top.inverted.sidebar.labeled.icon.menu .item {
	margin: 0 auto;
	width: 25%;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	font-weight: 300;
}

.ui.menu .item:before {
	width: 0px;
}

.stackable.container.grid p, .ui.list ul {
	line-height: 28px;
	font-size: 14px;
}

#test {
	background-color: red;
}

.ui.header.title {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
}

.ul.icon.header i.icon {
	display: inline;
	float: left;
}

.dates {
	float: right;
}

#portfolio-images {
	margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
	.masthead.segment {
		background-size: 855px 570px; 
		background-position: -155px 20px;
		min-height: 350px;
	}

	h1.ui.inverted.header {
		font-size: 2em;
	}

	.dates {
		display: block;
		float: none;
	}

	.ui.inverted.vertical.footer.segment {
		padding-left: 30px;
	}

	.ui.top.inverted.sidebar.labeled.icon.menu .item {
	font-size: 12px;
}