body, .ui.menu, .ui.header, .ui.black.button {
	border-radius: 0px;
	font-family: Open Sans;
}

h1.ui.inverted.header {
    padding-top: 6em;
    margin: 0em 2em;
    font-size: 4em;
    font-weight: normal;
}

.content>h3 {
	margin: 2em 6em;
}

.ui.inverted.menu, .ui.black.button {
	background: #86A8E7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
}

.ui.black.button {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1.5px;
}

#right-sidebar-toggle {
	position: fixed;
	width: 100%;
	border-radius: 0px;
	z-index: 1;
}

.ui.segment {
	margin: 0px;
}

.ui.basic.segment {
	padding: 60px 0px;
}

.masthead.segment {
	margin-top: 0px;
	padding-top: 36px;
	min-height: 700px;
	background-attachment: fixed;
	background-size: cover;
	border-radius: 0px;
	border: none;
	text-align: right;
	color: white;
	margin-bottom: 0px;
}

#masthead-1 {
	background-image: url(../img/jumbotron.jpg);
}

#masthead-2 {
	background-image: url(../img/jumbotron2.jpg);
	text-align: left;
}

#masthead-3 {
	background-image: url(../img/jumbotron4.png);
}

#masthead-4 {
	background-image: url(../img/jumbotron3.png);
	text-align: left;
}

.content {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.3),
				 0px 4px 8px rgba(0,0,0,0.3);
}

.ui.top.inverted.sidebar.labeled.icon.menu .item {
	margin: 0 auto;
	width: 25%;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	font-weight: 300;
}

.ui.menu .item:before {
	width: 0px;
}

.stackable.container.grid p, .ui.list ul {
	line-height: 28px;
	font-size: 14px;
}

#test {
	font-size: 20px;
	line-height: 50px;
	font-weight: lighter;
	padding: 50px 0px;
}

#udemy {
	display: flex;
	justify-content: center;
}

#udemy h3 {
	line-height: 50px;
	font-size: 30px;
	margin: 0;
	color: #6D6568;
	margin-left: 10px;
}

#progress-bars h4 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #c7c7c7;
	margin-bottom: 20px;
	font-size: 12px;
}

#progress-bars {
	margin-bottom: 20px;
}

#contactbutton {
	padding: 20px 35px;
	color: white;
}

.ui.image {
	border: 1px solid #ddd;
}

.adobeXD {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.adobeXD .column {
	flex: 1 1 auto;
	height: 600px;
	max-width: 300px;
}

.adobeXD iframe {
	height: 90%;
}

#contactbutton a {
	color: white;
}

#contactbutton a:hover {
	color: #0E6EB8;
}

.ui.header.title {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
}

.ul.icon.header i.icon {
	display: inline;
	float: left;
}

.dates {
	float: right;
}

@media only screen and (max-width: 900px) {
	#masthead-2, #masthead-4 {
		background-size: 1300px 866px; 
		background-position: -250px 20px;
	}
}

@media only screen and (max-width: 700px) {
	#masthead-1, #masthead-2, #masthead-3, #masthead-4 {
		background-size: 855px 570px; 
		background-position: -155px 20px;
		min-height: 350px;
	}

	#masthead-2, #masthead-4 {
		background-size: 1100px 733px; 
		background-position: -400px -40px;
		min-height: 350px;
	}

	#masthead-3 {
		background-size: 700px 466px; 
		background-position: 0px -50px;
		min-height: 350px;
	}

	h1.ui.inverted.header {
		font-size: 2em;
		margin: 0em 1em;
	}

	.content>h3 {
		margin: 2em 1em;
	}

	.dates {
		display: block;
		float: none;
	}

	.ui.inverted.vertical.footer.segment {
		padding-left: 30px;
	}

	.ui.top.inverted.sidebar.labeled.icon.menu .item {
	font-size: 12px;
}

@media only screen and (max-width: 570px) {

	h1.ui.inverted.header {
		margin: auto auto;
		text-align: center;
	}

	.content>h3 {
		text-align: center;
	}
}